.owl-carousel {
    position: relative; }
    .owl-carousel .owl-item {
      opacity: .4; }
      .owl-carousel .owl-item.active {
        opacity: 1; }
    .owl-carousel .owl-nav {
      position: absolute;
      top: 50%;
      width: 100%; }
      .owl-carousel .owl-nav .owl-prev,
      .owl-carousel .owl-nav .owl-next {
        position: absolute;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-top: -10px;
        color: #26baee !important;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        -webkit-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
        transition: all 0.7s ease;
        opacity: 0; }
        .owl-carousel .owl-nav .owl-prev span:before,
        .owl-carousel .owl-nav .owl-next span:before {
          font-size: 30px; }
      .owl-carousel .owl-nav .owl-prev {
        left: 0; }
      .owl-carousel .owl-nav .owl-next {
        right: 0; }
    .owl-carousel:hover .owl-nav .owl-prev,
    .owl-carousel:hover .owl-nav .owl-next {
      opacity: 1; }
    .owl-carousel:hover .owl-nav .owl-prev {
      left: -25px; }
    .owl-carousel:hover .owl-nav .owl-next {
      right: -25px; }
    .owl-carousel.home-slider {
      position: relative;
      height: 650px;
      z-index: 0;
      background: tertiary; }
      .owl-carousel.home-slider .slider-item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 650px;
        position: relative;
        z-index: 0; }
        @media (max-width: 1199.98px) {
          .owl-carousel.home-slider .slider-item {
            background-position: center center !important; } }
        .owl-carousel.home-slider .slider-item .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #000000;
          opacity: .2; }
        .owl-carousel.home-slider .slider-item .slider-text {
          height: 650px;
          position: relative; }
          .owl-carousel.home-slider .slider-item .slider-text .text {
            background: rgba(255, 255, 255, 0.9);
            position: relative !important;
            z-index: 0;
            color: rgba(0, 0, 0, 0.6); }
          .owl-carousel.home-slider .slider-item .slider-text h1 {
            font-size: 24px;
            color: #252a2b;
            font-weight: 600;
            text-transform: uppercase; }
            .owl-carousel.home-slider .slider-item .slider-text h1 a {
              color: #000000; }
            @media (max-width: 991.98px) {
              .owl-carousel.home-slider .slider-item .slider-text h1 {
                font-size: 30px; } }
          .owl-carousel.home-slider .slider-item .slider-text p {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.6); }
          .owl-carousel.home-slider .slider-item .slider-text span.location {
            color: rgba(0, 0, 0, 0.5); }
          .owl-carousel.home-slider .slider-item .slider-text span.price {
            color: #f05d23;
            font-size: 18px; }
          .owl-carousel.home-slider .slider-item .slider-text .btn-custom {
            position: absolute;
            top: -57px;
            left: 0;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1px; }
          .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs {
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 1px; }
            .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span {
              border-bottom: 2px solid rgba(255, 255, 255, 0.1); }
              .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span a {
                color: #fff; }
      .owl-carousel.home-slider .owl-nav {
        position: absolute;
        top: 100%;
        width: 100%; }
        .owl-carousel.home-slider .owl-nav .owl-prev,
        .owl-carousel.home-slider .owl-nav .owl-next {
          position: absolute;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          margin-top: -10px;
          outline: none !important;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
          opacity: 0; }
          .owl-carousel.home-slider .owl-nav .owl-prev span:before,
          .owl-carousel.home-slider .owl-nav .owl-next span:before {
            font-size: 30px;
            color: rgba(255, 255, 255, 0.5);
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease; }
          .owl-carousel.home-slider .owl-nav .owl-prev:hover span:before, .owl-carousel.home-slider .owl-nav .owl-prev:focus span:before,
          .owl-carousel.home-slider .owl-nav .owl-next:hover span:before,
          .owl-carousel.home-slider .owl-nav .owl-next:focus span:before {
            color: #fff; }
        .owl-carousel.home-slider .owl-nav .owl-prev {
          left: 50%;
          margin-left: -80px; }
        .owl-carousel.home-slider .owl-nav .owl-next {
          right: 50%;
          margin-right: -80px; }
      .owl-carousel.home-slider:hover .owl-nav .owl-prev,
      .owl-carousel.home-slider:hover .owl-nav .owl-next {
        opacity: 1; }
      .owl-carousel.home-slider:hover .owl-nav .owl-prev {
        left: 50%;
        margin-left: -80px; }
      .owl-carousel.home-slider:hover .owl-nav .owl-next {
        right: 50%;
        margin-right: -80px; }
      .owl-carousel.home-slider .owl-dots {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 40px;
        width: 100%;
        text-align: center; }
        @media (max-width: 767.98px) {
          .owl-carousel.home-slider .owl-dots {
            bottom: 5px; } }
        .owl-carousel.home-slider .owl-dots .owl-dot {
          width: 10px;
          height: 10px;
          margin: 5px;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.4); }
          .owl-carousel.home-slider .owl-dots .owl-dot.active {
            background: #fff; }