{% load static %}
<script src={% static "builder/vendors/isotope/imagesloaded.pkgd.min.js" %}></script>
<script src={% static "builder/vendors/isotope/isotope.pkgd.min.js" %}></script>
<script src={% static "lib/jquery/jquery.min.js" %}></script>
<script src={% static "lib/popper/popper.min.js" %}></script>
<script src={% static "lib/easing/easing.min.js"  %}></script>
<script src={% static "lib/owlcarousel/owl.carousel.min.js" %}></script>
<script src={% static "lib/scrollreveal/scrollreveal.min.js" %}></script>
<script src={% static "js/jquery.stellar.min.js" %}></script>
<script src={% static "js/aos.js" %}></script>
<script src={% static "js/scrollax.min.js" %}></script>
<script src={% static "js/jquery-migrate-3.0.1.min.js" %}></script>




<!-- Contact Form JavaScript File -->
<script src={% static "contactform/contactform.js" %}></script>

<!-- Template Main Javascript File -->
<script src={% static "js/main.js" %}></script>
<script src={% static "js/swiper.js" %}></script>
<!-- Template Main Javascript File -->
   <!-- jQuery (Necessary for All JavaScript Plugins) -->
   <script src={% static "js/jquery/jquery-2.2.4.min.js" %}></script>
   <!-- Popper js -->
   <script src={% static "js/popper.min.js" %}></script>
   <!-- Bootstrap js -->
   <script src={% static "js/bootstrap.min.js" %}></script>
   <!-- Plugins js -->
   <script src={% static "js/plugins.js" %}></script>
   <!-- Active js -->
   <script src={% static "js/active.js" %}></script>
   <script>
         $(document).ready(function () {
           //initialize swiper when document ready
           var mySwiper = new Swiper ('.swiper-container', {
             // Optional parameters
             effect: 'coverflow',
             loop: true,
             grabCursor: true,
             centeredSlides: true,
             slidesPerView: 'auto',
             coverflowEffect: {
               rotate: 180,
               stretch: 100,
               depth: 700,
               modifier: 1,
               slideShadows : true,
             },
             pagination: {
               el: '.swiper-pagination',
             },
             autoplay: {
               delay: 2500,
               disableOnInteraction: false,
             },
           })
         });
     </script>
     {% if messages %}
     {% for message in messages %}
       {% if message.tags == 'success' %}
       <script type="text/javascript">
         $(document).ready(function () {
             $('#exampleModal').modal('show');
         });
           </script>  
       {% endif %}
     {% endfor %}        
       {% endif %}
     